@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf")
}

body {
    font-size: small;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

h1 {
    font-size: 220%;
    font-family: "Emblema One", sans-serif;
}

h2 {
    font-size: 130%;
}